MYSQL_DATABASE=babi_order
MYSQL_USER=babi
MYSQL_PASSWORD=babi_local_password
MYSQL_ROOT_PASSWORD=babi_root_password
MYSQL_PORT=3306

DB_HOST=localhost
DB_PORT=3306
DB_NAME=babi_order
DB_USERNAME=babi
DB_PASSWORD=babi_local_password

TOSS_SECRET_KEY=
TOSS_BASE_URL=https://api.tosspayments.com
